.loginContainer {
  height: 100vh;
  background-color: rgb(228, 229, 247);
}

.customCard {
  font-family: sans-serif;
  width: 400px;
  border-radius: 10px;
  background-color: #ffff;
  padding: 1.8rem;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-weight: bold;
}

.line {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgb(245 239 239);
  line-height: 0.1em;
  margin: 25px 0;
}

.line span {
  background: #fff;
  padding: 0 10px;
}

.usernameLogin label {
  color: rgb(170 166 166);
  margin-bottom: 5px;
}

.loginBtn {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
