.notFoundContainer {
  height: 100vh;
  background-color: rgb(228, 229, 247);
}

.customCard {
  width: 400px;
  max-width: 95%;
  border-radius: 10px;
  background-color: #ffff;
  padding: 1.8rem;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.line {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgb(245 239 239);
  line-height: 0.1em;
  margin: 25px 0;
}